body{
    background-color: #FDEEDC;
}

h1, h3{

    color: #66bfbf;
}

a{
    text-decoration: none;
    color: #66bfbf;
    
}

hr{
    border-color: grey;
    border-style: dotted none none;
    /* height: 2px; */
    border-width: 5px;
    width: 10%;
    
}
